body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    padding: 50px;
    margin-left: 50px;
    padding-left: 50px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
        


}

* {

    text-decoration: none;
    list-style: none;
    margin: 0px;
    align-items: center;
    justify-content: center;
}

#cabecalho {
    position: fixed;
    box-shadow: 5px 5px 5px 5px red;
    margin: 15px;
    background-color: #2F2D2D;
    margin-top: -120px;
    margin-left: -1000px;
    padding-left: -1050px;
    align-items: center;
    width: 190%;
    height: 140px;
    text-align: center;
    



}

.container {
    
    display: flex;
    align-items: center;

}

.bloco-texto {
    display: flex;
    margin: 0px;
    margin-top: 0px;
    justify-content: space-between;


}

.bloco-texto ul {
    margin-top: 50px;
    margin-left: 100px;
    align-items: center;
    justify-content: center;

}


.u {
    margin-left: -350px;
    margin-bottom: 50px;
    border: 2px solid white;
    padding: 20px;
    padding-left: 10px;
    margin: 0px;
    margin-top: -20px;
    background-color: white;
    border-radius: 10px;

}



.bloco-texto2 li {
    border: 2px solid white;
    background-color: white;
    margin: 20px;
    margin-left: -70px;
    border-radius: 10px;

}


.pesquisa {
    border: 2px solid white;
    border-radius: 20px;
    margin-left: -220px;
    margin-top: 25px;
    padding: 5px;
    background-color: white;


}

.bloco-pesquisa li {
    display: flex;

    margin-left: 100px;
    background-color: white;
    border: 2px solid white;
    margin-top: -40px;
    border-radius: 10px;
}


.bloco-carrinho li {
    margin-left: 40px;
    margin-top: 20px;
    border: 2px solid white;
    background-color: white;
    border-radius: 3px;
}





.container-principal {
             
}


.texto {
    position: fixed;
    background-color: #00ff19;
    margin-left: -100px;
    margin: 0px;
    width: 187%;
    height: 200px;
    margin-top: -300px;
    margin-left: -500px;
    padding-left: -210px;
    box-shadow: 5px 5px 5px 5px red;
    text-align: center

}


.text {
    
    text-align: center;
    margin-top: -10px;
    margin-left: -850px;
    padding-top: 80px;
}


.imagens {
    position: static;
    display: block;
    margin-top: 350px;


}


.img1 {
    margin-top: 50px;
    margin-left: 550px;
}

.texto1 {
    margin-left: 550px;
}

.compra1 {
    margin-left: 550px;
    margin-top: 10px;
    background-color: #00ff19;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    




}


.img2 {
    margin-left: 800px;
    margin-top: -210px;
}


.texto2 {
    margin-left: 800px;
    margin-top: -30px;
}

.compra2 {
    margin-left: 400px;
    margin-top: 20px;
    background-color: #00ff19;
    width: 0px;
    border-radius: 5px;


}



.img3 {
    margin-left: 90%;
    margin-top: -190px;
}

.texto3 {
    margin-left: 90%;
}


.compra3 {
    margin-left: 90%;
    margin-top: 20px;
    background-color: #00ff19;
    padding: 10px;
    width: 5px;
    border-radius: 5px;
}



.img4 {
    margin-left: 110%;
    margin-top: -310px;
}



.texto4 {
    margin-left: 110%;
}

.compra4 {
    margin-left: 110%;
    margin-top: 20px;
    background-color: #00ff19;
    padding: 10px;
    border-radius: 10px;
}



.img5 {
    margin-left: 540px;
    margin-top: 250px;
}

.texto5 {
    margin-left: 540px;

}

.compra5 {
    margin-left: 280px;
    margin-top: 30px;
    background-color: #00ff19;
    border-radius: 10px;
    width: 0px;
    padding: -5px;
}

.img6 {
    margin-left: 800px;
    margin-top: -200px;
}


.texto6 {
    margin-left: 800px;

}

.compra6 {
    margin-left: 400px;
    background-color: #00ff19;
    width: 0px;
    padding: 0px;
    margin-top: 20px;
    border-radius: 10px;

}


.img7 {
    margin-left: 1000px;
    margin-top: -200px;
}


.texto7 {
    margin-left: 1040px;
}


.compra7 {
    margin-left: 520px;
    margin-top: 20px;
    background-color: #00ff19;
    width: 0px;
    padding: 0px;
    border-radius: 10px;
}


.img8 {
    margin-left: 110%;
    margin-top: -220px;
}


.texto8 {
    margin-left: 110%;
}


.compra8 {
    margin-left: 630px;
    margin-top: 40px;
    border-radius: 10px;
    width: 0px;
    background-color: #00ff19;
    padding: 0px;
}


.img9 {
    margin-left: 535px;
    margin-top: 130px;

}

.texto9 {
    margin-left: 460px;
}

.compra9 {
    margin-left: 280px;
    margin-top: 20px;
    background-color: #00ff19;
    width: 0px;
    border-radius: 5px;
}


.img10 {
    margin-left: 740px;
    margin-top: -220px;
}


.texto10 {
    margin-left: 750px;
}

.compra10 {
    margin-left: 385px;
    margin-top: 20px;
    background-color: #00ff19;
    width: 0px;
    border-radius: 10px;
}


.img11 {
    margin-left: 1000px;
    margin-top: -220px;
}


.texto11 {
    margin-left: 1000px;
}

.compra11 {
    margin-left: 515px;
    margin-top: 20px;
    background-color: #00ff19;
    width: 0px;
    border-radius: 10px;
}




.img12 {
    margin-left: 1250px;
    margin-top: -210px;
}


.texto12 {
    margin-left: 1250px;
}

.compra12 {
    margin-left: 625px;
    margin-top: 20px;
    background-color: #00ff19;
    width: 0px;
    border-radius: 10px;
}


.img13 {
    margin-left: 540px;
    margin-top: 150px;
}

.texto13 {
    margin-left: 500px;
}

.compra13 {
    margin-left: 285px;
    margin-top: 20px;
    background-color: #00ff19;
    width: 0px;
    border-radius: 10px;

}

.img14 {
    margin-left: 790px;
    margin-top: -210px;
}

.texto14 {
    margin-left: 790px;
}

.compra14 {
    margin-left: 400px;
    margin-top: 20px;
    background-color: #00ff19;
    width: 0px;
    border-radius: 5px;
}

#rodape {
    position: static;
    margin-top: 200px;
    margin-left: -805px;
    border: 2px solid #00ff19;
    width: 113%;
    padding: 11%;
    padding-left: 1500px;
    background-color: #00ff19;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px red;


}

.nome {
    font-size: 9px;
    border: 2px solid red;
    width: 300px;
    padding: 4px;
    background-color: red;
}

.img15 {
    margin-top: 150px;
    margin-left: 1020px;
}









/*estilo mobile*/






@media screen and (max-width: 768px){


    body{
        font-size: 14px;
        max-width: 768px;
    }
    #cabecalho{
        position: fixed;
        margin: 10px;
        margin-top: -100px;
        margin-left: -430px;

    }

    .bloco-texto h2{
        display: none;

    }


    .bloco-texto2 li{
        font-size: 7px;

    }
    .pesquisa{
        padding: 1px;
    }

    #meuFormulario{
        border-radius: 10px;

    }

    .texto h1{
        position: fixed;
        margin-left: 550px;
        font-size: 20px;
    }


    
     .imagens{
        column-count: 2;
     }


     .img1{
        margin-left: -80px;
        width: 50px;
     }

     .texto1{
        margin-left: -80px;
        
     }

     .compra1{
        margin-left: -80px;
        font-size: 15px;

     }


     .img2{
        margin-left: 130px;
     }


     .texto2{
        margin-left: 130px;
     }

     .compra2{
        margin-left: 70px;
     }

     .img3{
        margin-left: -90px;
        margin-top: 120px;
     }

     .texto3{
        margin-left: -90px;
     }

     .compra3{
        margin-left: -50px;
     }


     .img4{
        margin-top: -250px;
     }


     .img5{
        margin-left: -100px;
        margin-top: 80px;
     }


     .texto5{
        margin-left: -100px;
     }

     .compra5{
        margin-left: -40px;

     }

     .img6{
        margin-left: 120px;
     }

     .texto6{
        margin-left: 120px;
     }


     .compra6{
        margin-left: 80px;
     }


     .img7{
        margin-left: -90px;
        margin-top: 50px;
     }


     .texto7{
        
        margin-left: -200px;
        margin-bottom: 20px;
        padding-top: 795%;    
        
        
     }


     .compra7{
        margin-left: -110px;
     }




     .img8{
        margin-left: -20px;
        padding-top: 80px;
     }




     .texto8{
        margin-left: -20px;
     }

     .compra8{
        margin-left: -10px;
        margin-top: 10px;
     }

     .img9{
        margin-left: -230px;
        margin-top: 70px;
     }




     .texto9{
        margin-left: -230px;
     }



     .compra9{
        margin-left: -102px;
     }


     .img10{
        margin-left: -20px;
     }



     .texto10{
        margin-left: -5px;
     }


     .compra10{
        margin-left: 1px;
     }



     .img11{
        margin-left: -230px;
        padding-top: 240px;
     }



     .texto11{
        margin-left: -230px;
     }

     .compra11{
        margin-left: -100px;
     }


     .img12{
        margin-left: -10px;
     }


     .texto12{
        margin-left: -10px;
     }

     .compra12{
        margin-left: 1px;
     }




     .img13{
        margin-left: -230px;
        margin-top: 70px;
     }



     .texto13{
        margin-left: -240px;
     }




     .compra13{
        margin-left: -100px;
     }



     .img14{
        margin-left: -5px;
     }





     .texto14{
        margin-left: 10px;
     }





     .compra14{
        margin-left: 2px;
     }





     #rodape{
        margin-left: -1550px;
        width: 400px;
        font-size: 12px;
        margin-top: 60px;
        
     }

     .nome{
        font-size: 8px;
        width: 300PX;
     }



}

